h1 {
    color: #333;
    font-size: 24px;
}

h2 {
    color: #666;
    font-size: 20px;
}

p {
    line-height: 1;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 3px solid #ccc;
}

ul {
    list-style-type: disc;
}

img {
    max-width: 20%;
    height: auto;
}

.my-class {
    background-color: #f0f0f0;
    padding: 10px;
}

.another-class {
    font-weight: bold;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #10AF52;
}

.background {
    background: linear-gradient(to bottom, red, green);
    height: 100vh;
}